* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.4)), 
    url("./img/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

h2 {
    font-weight: 400;
    font-size: 10rem;
    text-align: center;
    align-self: center;
    text-shadow: 0px 0px 22px rgba(255, 255, 255, 1);
}

p {
    text-align: center;
    font-weight: 200;
    font-size: 1.5rem;
}

.overlay {
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 60%;
}

.container {
    display: flex;
    justify-content: center;
}

.clock {
    margin-top: 10rem;
    display: flex;
    color: white;
}

.clock-content { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    padding: 1.25rem;
    margin: 1.5rem 0;
}

.dots {
    margin-top: -4rem;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}
